body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  main {
    flex: 1 0 auto;
  }

  footer {
    .page-footer {
      background-color: #106cc8;
      .copyright {
        font-size: 20px;
        //margin-left: 20px;
        padding-bottom: 10px;
        color: white;
      }
    }
  }
}
