nav {
  background-color: #106cc8;

  .brand-logo {
    display: inline-block;
    height: 100%;
    //margin-left: 20px;
    .logo-img {
      vertical-align: middle;
      width: 190px;
      height: 38px;
    }
  }
}
