<div class="navbar-fixed">
  <nav class="top-nav">
    <div class="container">
    <div class="nav-wrapper col s12 valign-wrapper">
      <a href="/" class="brand-logo">
        <%= image_tag("logo.png", class: "logo-img") %>
      </a>
    </div>
    </div>
  </nav>
</div>
