<div class="home">
  <div class="center">
    <h4 class="title">Pesquise novas oportunidades de trabalho de acordo com uma palavra chave</h4>
    <div class="wrapper-home">
      <%= image_tag("jobs.png", class: "jobs-img") %>
      <%= form_tag("/jobs", method: "get", :class => 'search-form', autocomplete:"off") do %>
        <div class="input-field">
          <i class="material-icons prefix">search</i>
          <input id="search" class="autocomplete" type="text" name="search" autocomplete="off" required />
        </div>
        <%= submit_tag("Buscar", name: nil, class: "waves-effect waves-light btn search-button") %>
        <!-- <a href=<%= "/jobs" %>><button class="waves-effect waves-light btn search-button">Ver todos</button></a> -->
      <% end %>
    </div>
  </div>
</div>
