.title {
  color: #616161;
  font-size: 24px;
}
.job-company {
  color: #424242;
  font-size: 20px;
}
.job-description {
  color: #333333;
  font-size: 14px;
  text-align: justify;
}
.job-link {
  font-size: 15px !important;
  color: #000000 !important;
}
